<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="theme-color" content="#0075d5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Classification" content="Image" />
    <meta name="subject" content="<%- config.page.meta.content %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="<%- config.page.meta.color %>" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="<%- config.page.title %>" />
    <meta name="twitter:description" content="<%- config.page.meta.content %>" />
    <meta name="twitter:image" content="<%- config.page.icon %>" />
    <meta property="og:title" content="<%- config.page.title %>" />
    <meta property="og:description" content="<%- config.page.meta.content %>" />
    <meta property="og:image" content="<%- config.page.icon %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="<%- config.page.meta.content %>" />
    <meta name="author" content="<%- config.page.title %>" />
    <title>
        <%- config.page.title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%- config.page.icon %>">
    </link>
    <link rel="stylesheet" href="/css/main.css">
    </link>
    <link rel="stylesheet" href="/css/bars.css">
    </link>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>

<body>


    <div class="left">
        <div class="header">
            <img class="image" src="<%- config.left.imglink %>">
            <h2 class="name">
                <%- config.left.name %>
            </h2>
            <div class="abilities">
                <% config.left.abilities.forEach(ability=> { %>
                    <%- ability %></br>
                <% }) %>
            </div>
        </div>
        <div class="description">

            <p style="margin-top: -10px;">
                <span>ملیت : <%- config.left.country %></span></br>
                <span>شهر : <%- config.left.city %></span></br>
                <span><%- config.left.age %> : سن</span></br>
            </p>

            <% config.left.skills_name.forEach(skill_name=> { %>
                <div class="skills">
                    <div class="details">
                        <span><%- skill_name%></span>
                    </div>
                    <div class="bar">
                        <div id="<%- skill_name%>-bar"></div>
                    </div>
                </div>
            <% }) %>
  

            <div class="repo-dn">
                <a class="repo-dn" href="https://github.com/hadiazt/hadi-az.me/archive/refs/heads/main.zip" target="_blank">
                    <ion-icon name="download"></ion-icon>
                    <span>دانلود قالب</span>
                </a>
            </div> 


        </div>

    </div>

    <div class="right-up"></div>
    <div class="right-down"></div>

</body>

</html>