<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0075d5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Classification" content="Image" />
    <meta name="subject" content="<%- config.page.meta.content %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="<%- config.page.meta.color %>" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="<%- config.page.title %>" />
    <meta name="twitter:description" content="<%- config.page.meta.content %>" />
    <meta name="twitter:image" content="<%- config.page.icon %>" />
    <meta property="og:title" content="<%- config.page.title %>" />
    <meta property="og:description" content="<%- config.page.meta.content %>" />
    <meta property="og:image" content="<%- config.page.icon %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="<%- config.page.meta.content %>" />
    <meta name="author" content="<%- config.page.title %>" />
    <title>
        <%- config.page.title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%- config.page.icon %>">
    </link>
    <link rel="stylesheet" href="/css/main.css">
    </link>
    <link rel="stylesheet" href="/css/responsive.css">
    </link>
    <link rel="stylesheet" href="/css/bars.css">
    </link>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="left">
        <div class="header">
            <img class="image" src="<%- config.left.imglink %>">
            <h2 class="name">
                <%- config.left.name %>
            </h2>
            <div class="abilities">
                <% config.left.abilities.forEach(ability=> { %>
                    <%- ability %></br>
                <% }) %>
            </div>
        </div>

        <div class="description">

            <p class="description-infos">
                <span style="float:right;">: ملیت</span><span class="infos">                    
                    <%- config.left.country %>
                </span></br>
                <span style="float:right;">: شهر</span><span class="infos">                
                    <%- config.left.city %> 
                </span></br>
                <span style="float:right;">: سن</span><span class="infos">
                    <%- config.left.age %>
                </span></br>
            </p>

            <hr>

            <% config.left.langs_name.forEach(lang_name=> { %>
                <div class="skills">
                    <div class="details">
                        <span>
                            <%- lang_name %>
                        </span>
                    </div>
                    <div class="bar">
                        <div id="<%- lang_name %>-bar"></div>
                    </div>
                </div>
            <% }) %>
                    <hr>

                    <% config.left.skills_name.forEach(skill_name=> { %>
                        <div class="skills">
                            <div class="details">
                                <span>
                                    <%- skill_name%>
                                </span>
                            </div>
                            <div class="bar">
                                <div id="<%- skill_name%>-bar"></div>
                            </div>
                        </div>
                    <% }) %>

                            <hr>

                            <div class="social-buttons">
                                <a class="social-buttons" href="<%- config.left.social.github %>" target="_blank"><i
                                        class="fab fa-github-square"></i></a>
                                <a class="social-buttons" href="<%- config.left.social.discord %>" target="_blank"><i
                                        class="fab fa-discord"></i></a>
                                <a class="social-buttons" href="<%- config.left.social.instagram %>" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="social-buttons" href="<%- config.left.social.telegram %>" target="_blank"><i
                                        class="fab fa-telegram"></i></a>
                                <a class="social-buttons" href="tel:<%- config.left.social.phone %>" target="_blank"><i
                                        class="fas fa-phone"></i></a>
                                <a class="social-buttons" href="mailto:<%- config.left.social.email %>"
                                    target="_blank"><i class="fas fa-envelope"></i></a>
                            </div>

                            <hr>

                            <div class="repo-dn">
                                <a class="repo-dn"
                                    href="https://github.com/hadiazt/hadi-az.me/archive/refs/heads/main.zip"
                                    target="_blank">
                                    <span>دانلود قالب</span>                                
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>

        </div>
    </div>

    <div class="right-up">
        <div class="acc-info">
            <img class="image-right" src="<%- DATA.USER.INFO.AVATAR %>">
            <h2 class="acc-name">
                <%- DATA.USER.INFO.NAME %>
            </h2>
            <% if(DATA.USER.INFO.STATUS==='online' ) { %>
                <h5 class="acc-stats" style="color:#57F287;">
                    <%- DATA.USER.INFO.STATUS %>
                </h5>
            <% } else if(DATA.USER.INFO.STATUS==='idle' ) { %>
                <h5 class="acc-stats" style="color:#FEE75C;">
                    <%- DATA.USER.INFO.STATUS %>
                </h5>
            <% } else if(DATA.USER.INFO.STATUS==='dnd' ) { %>
                <h5 class="acc-stats" style="color:#ED4245;">
                    <%- DATA.USER.INFO.STATUS %>
                </h5>
            <% } else if(DATA.USER.INFO.STATUS==='offline' ) { %>
                <h5 class="acc-stats" style="color:#8c8c8e;">
                    <%- DATA.USER.INFO.STATUS %>
                </h5>
            <% } %>

        </div>

        <p class='dis'>فعالیت
            <a class='repo-dn' style='color:#fff;text-decoration: underline #fff;' href="https://discord.com" target="_blank">دیسکورد</a>
        </p>

        <% if (DATA.USER.INFO.STATUS === 'offline') { %>
            <div class="of">
                کاربر آفلاین میباشد
            </div>
        <% } else if (DATA.USER.ACTIVITY) { %>
            <div class="discord">
                <div class="images">
                    <img class="large_image" src="<%- DATA.USER.ACTIVITY.ASSETS.LARGEIMAGEURL %>">
                    <img class="small_image" src="<%- DATA.USER.ACTIVITY.ASSETS.SMALLIMAGEURL %>">
                </div>
                <div class="texts">
                    <h2>
                        <%- DATA.USER.ACTIVITY.TYPE %>
                            <%- DATA.USER.ACTIVITY.NAME %>
                    </h2>
                    <h3 style="margin-top: -20px;">
                        <%- DATA.USER.ACTIVITY.STATE %>
                    </h3>
                    <h4 style="margin-top: -20px;">
                        <%- DATA.USER.ACTIVITY.DETAILS %>
                    </h4>
                </div>
            </div>
        <% } else { %>
            <div class="of">
                فعالیتی یافت نشد
            </div>
        <% } %>
        

    </div>

    <div class="right-down">
        <div class="nav aviny">
            <a class="nav-item" href="#projects"><span>پروژها</span></a>
            <a class="nav-item" href="#git"><span>مشخصات گیت هاب</span></a>
            <a class="nav-item" href="#extra"><span>اطلاعات اضافه</span></a>
        </div>


        <h1 id="projects" style="margin: 20px;" class="aviny">: پروژها</h1>
        <div class="project-cards">
            <% config.right.PROJECTS.forEach(PROJECT => { %>
                <div class="card">
                    <img class="card-img" src="<%- PROJECT.IMG %>">
                    <div class="card-body">
                        <div class="card-txt">
                            <span><%- PROJECT.NAME %></span></br>
                            <span style="font-size: x-small; color: #8c8c8e;"><%- PROJECT.ROLE %></span></br></br>
                            <span style="padding: 10px;"><%- PROJECT.DES %></span></br></br>
                        </div>
                        <a class="viewbtn aviny"  href="<%- PROJECT.URL %>" target="follow">مشاهده</a>
                    </div>
                </div>
            <% }) %>
        </div>
        <a style="color:#fff;text-decoration: underline #fff;" target="_blank" href="<%- config.left.social.github %>"><h4 style="margin: 20px;"><i class="fas fa-long-arrow-alt-left"></i> برای بیشتر کلیک کنید</h4></a>

        <h1 id="git" style="margin: 20px;" class="aviny">: اطلاعات جالب</h1>

        <div class="git">
            </br><img src="https://camo.githubusercontent.com/0ee8b9773d950f3c13fd0f442d6274998934716d078e1885dd2b89abc6e7e1d6/68747470733a2f2f70726f66696c652d636f756e7465722e676c697463682e6d652f68616469617a742f636f756e742e737667" /></br>
            <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=hadiazt&langs_count=10&layout=compact&theme=gruvbox_duo&hide_border=true&bg_color=171717&title_color=5459a7&icon_color=5459a7&text_color=ffffff&count_private=true" class="gitres" /></br>
            <img src="https://github-readme-stats.vercel.app/api?username=hadiazt&theme=gruvbox_duo&show_icons=true&include_all_commits=true&count_private=true&theme=react&hide_border=true&bg_color=171717&title_color=5459a7&icon_color=5459a7&text_color=ffffff&count_private=true" class="gitres" /></br>
            <img src="https://github-readme-streak-stats.herokuapp.com/?user=hadiazt&theme=gruvbox_duo&background=171717&hide_border=true&ring=5459a7&currStreakLabel=5459a7&sideNums=5459a7&currStreakNum=5459a7&sideLabels=5459a7&text_color=ffffff&count_private=true" class="gitres" /></br>
            <img src="https://activity-graph.herokuapp.com/graph?username=hadiazt&custom_title=hadiazt's%20Contribution%20Graph&bg_color=171717&color=5459a7&line=FFFFFF&point=5459a7&hide_border=F84C4C&count_private=true" class="gitres" /></br>
        </div>
        </br>

        <h1 id="extra" style="margin: 20px;" class="aviny">: اطلاعات اضافه</h1>

            <pre><code style="background-color: #212324; text-align: left;" class="language-js extra">
const FunyFacts = {
    KPOP: true,
    TikTok: true,
    YouTube: true,
    WatchingKDrama: true,
    TVSeries: false,
    "Operating System":"windows",
    LANGUAES: [ ENGLISH, PERSIAN, KOREAN ]
}
const friendDB = require('FRIENDS.json');
var friend = friendDB.all()
             
    if(friend.ignored.me) {
        friendDB.remove(friend)
    }             
        </code></pre></br>

    </div>



</body>

</html>